@use 'variables' as v;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: v.$background-color;
  font-size: 24px;
  font-family: v.$secondary-font;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
  background-color:v.$background-color;
  margin: auto;
}

.responsive-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .responsive-body {
    display: flex;
    flex-direction: row;
  }
}