@use 'variables' as v;

main {
  padding-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
    margin: 2rem;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

button.back-to-top {
  border-radius: 50%;
  border: none;
  background-color: v.$primary-color;
  color: v.$primary-font-color;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.625rem;
  display: none;
  
  &:hover{
    cursor: pointer;
    background-color: v.$secondary-color;
  } 
}