@use 'variables' as v;

nav {
  height: 7.5rem;
  width: 100%;
  background: v.$primary-color;
  color: v.$primary-font-color;
  padding: 1.5em;
  font-family: v.$primary-font;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    font-size: 2.5rem;
  }
}

.compose {
  font-family: v.$secondary-font;
  text-align: center;
  transition: all .2s ease-in-out;

  p {
    margin: 0;
  }

  &:hover {
    cursor: pointer;

    i {
      color: v.$accent-color;
      transform: scale(1.5);
    }
  }
}