nav {
  height: 120px;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  font-family: 'Bungee', cursive, sans-serif;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.compose {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  transition: all .2s ease-in-out;

  p {
    margin: 0;
  }

  &:hover {
    cursor: pointer;

    i {
      color: orange;
      transform: scale(1.5);
    }
  }
}