.new-tweet {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;

  textarea {
    width: 100%;
    background: #f4f1ec;
    border-color: #545149;
    border-width: 0 0 5px 0;
    resize: none;
    line-height: 30px;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }
}

.form-subcontainer{
  margin-top: 10px;
  font-family: 'Bungee', cursive, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    background: #4056A1;
    color: #FFFFFF;
    border: none;
  }

  .under-zero {
    color: red;
  }
}