@use 'variables' as v;

.new-tweet {
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: none;

  textarea {
    width: 100%;
    background: v.$background-color;
    border-color: v.$secondary-font-color;
    border-width: 0 0 5px 0;
    resize: none;
    line-height: 1.875rem;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }
}

.form-subcontainer{
  margin-top: 0.625rem;
  font-family: v.$primary-font;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    background: v.$primary-color;
    color: v.$primary-font-color;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .under-zero {
    color: v.$error-color;
  }
}