@use 'variables' as v;

.tweet-section {
  display: flex;
  flex-direction: column;
}

.tweet {
  border: 5px solid v.$secondary-font-color;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.3rem;

    span {
      display: flex;
      align-items: center;
    }
  }

  main {
    width: 100%;
    border-bottom: 5px solid v.$secondary-font-color;

    p{
      color: v.$secondary-font-color;
      font-weight: bold;
      padding: 1.25rem;
      word-wrap: break-word;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 1rem;
  }

  &:hover {
    box-shadow: 0.625rem 0.625rem v.$secondary-color; 

    .username {
      color: v.$secondary-color;
    }
  }
}

.avatar {
  margin-right: 0.625rem;
}

.username {
  color: v.$secondary-font-color;
}

footer {
  .fa {
    margin-left: 0.5rem;
  }

  .clicked {
    color: v.$secondary-color;
  }
}

.footer-icon:hover {
  cursor: pointer;
  color: v.$secondary-color;
}