@use 'variables' as v;

.tweet-section {
  display: flex;
  flex-direction: column;
}

.tweet {
  border: 5px solid v.$secondary-font-color;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;

    span {
      display: flex;
      align-items: center;
    }
  }

  main {
    width: 100%;
    border-bottom: 5px solid v.$secondary-font-color;

    p{
      color: v.$secondary-font-color;
      font-weight: bold;
      padding: 20px;
      word-wrap: break-word;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    padding: 15px;
  }

  &:hover {
    box-shadow:10px 10px v.$secondary-color; 

    .username {
      color: v.$secondary-color;
    }
  }
}

.avatar {
  margin-right: 10px;
}

.username {
  color: v.$secondary-font-color;
}

footer {
  .fa {
    margin-left: 8px;
  }

  .clicked {
    color: v.$secondary-color;
  }
}

.footer-icon:hover {
  cursor: pointer;
  color: v.$secondary-color;
}