// Colors
$primary-color: #3e919a;
$secondary-color: #b7e2e2;
$background-color: #f4f1ec;
$primary-font-color: #FFFFFF;
$secondary-font-color: #545149;
$accent-color: orange;
$error-color: red;

// Fonts
$primary-font: 'Pacifico', cursive, sans-serif;
$secondary-font: 'Montserrat', sans-serif;

