// Colors
$primary-color: #4056A1;
$secondary-color: rgb(116, 138, 215);
$background-color: #f4f1ec;
$primary-font-color: #FFFFFF;
$secondary-font-color: #545149;
$accent-color: orange;
$error-color: red;

// Fonts
$primary-font: 'Bungee', cursive, sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;


