.page-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(116, 138, 215);
  background-image: url(../images/black-thread-light.png);
  color: #FFFFFF;
}

header h2 {
  margin: 10px 0px;
}


@media only screen and (min-width: 1024px) {
  .page-header {
    display: flex;
    top: 120px;
    left: 0;
    width: 50%;
    height: calc(100vh - 120px);
    position: sticky;
    overflow: hidden;
  }
}