html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
  background-color: #f4f1ec;
  margin: auto;
}

.responsive-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .responsive-body {
    display: flex;
    flex-direction: row;
  }
}
.page-header {
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b7e2e2;
  background-image: url(../images/black-thread-light.png);
  color: #FFFFFF;
  margin-bottom: 2rem;
}

header h2 {
  margin: 0.625rem 0;
}

@media only screen and (min-width: 1024px) {
  .page-header {
    display: flex;
    top: 7.5rem;
    left: 0;
    width: 50%;
    height: calc(100vh - 7.5rem);
    position: sticky;
    overflow: hidden;
    margin-bottom: 0;
  }
}
.error-div {
  width: 90%;
  margin: 0px auto 2rem;
  text-align: center;
  border: 1px solid red;
  color: red;
  display: none;
}

main {
  padding-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 70%;
    margin: 2rem;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
button.back-to-top {
  border-radius: 50%;
  border: none;
  background-color: #3e919a;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.625rem;
  display: none;
}
button.back-to-top:hover {
  cursor: pointer;
  background-color: #b7e2e2;
}

nav {
  height: 7.5rem;
  width: 100%;
  background: #3e919a;
  color: #FFFFFF;
  padding: 1.5em;
  font-family: "Pacifico", cursive, sans-serif;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .logo {
  font-size: 2.6rem;
}

.compose {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.compose p {
  margin: 0;
}
.compose i {
  color: orange;
}
.compose:hover {
  cursor: pointer;
}
.compose:hover i {
  transform: scale(1.5);
}

.new-tweet {
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: none;
}
.new-tweet textarea {
  width: 100%;
  background: #f4f1ec;
  border-color: #545149;
  border-width: 0 0 5px 0;
  resize: none;
  line-height: 1.875rem;
  font-weight: bold;
}
.new-tweet textarea:focus {
  outline: none;
}

.form-subcontainer {
  margin-top: 0.625rem;
  font-family: "Pacifico", cursive, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-subcontainer button {
  background: #3e919a;
  color: #FFFFFF;
  border: none;
}
.form-subcontainer button:hover {
  cursor: pointer;
}
.form-subcontainer button:focus {
  outline: none;
}
.form-subcontainer .under-zero {
  color: red;
}

.tweet-section {
  display: flex;
  flex-direction: column;
}

.tweet {
  border: 5px solid #545149;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
}
.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.3rem;
}
.tweet header span {
  display: flex;
  align-items: center;
}
.tweet main {
  width: 100%;
  border-bottom: 5px solid #545149;
}
.tweet main p {
  color: #545149;
  font-weight: bold;
  padding: 1.25rem;
  word-wrap: break-word;
}
.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 1rem;
}
.tweet:hover {
  box-shadow: 0.625rem 0.625rem #b7e2e2;
}
.tweet:hover .username {
  color: #b7e2e2;
}

.avatar {
  margin-right: 0.625rem;
}

.username {
  color: rgba(255, 255, 255, 0);
}

footer .fa {
  margin-left: 0.5rem;
}
footer .clicked {
  color: orange;
}

.footer-icon:hover {
  cursor: pointer;
  color: #b7e2e2;
}

/*# sourceMappingURL=index.css.map */
